#message{
    width: 300px;
}
#edit{
    position: absolute;
    top: 3px;
    left: 285px;
    width: 75px;
    height: 75px;
}
.fa-edit:before {
    content: "\f044";
    font-size: 55px;
}
.follow{
    position: absolute;
    top: 3px;
    left: 60%;
    width: 157px;
    height: 75px;
}
.fa-user-plus:before {
    content: "\f234";
    font-size: 40px;
}
.form1{
    margin-top: 50px;
}
.item {
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
    width: 700px;
    height: 50px;
}
.form-group{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid ghostwhite;
    background: grey;
    border-radius: 5px;
    padding: 10px;
}
#exampleInputEmail1{
    width: 250px;
    margin-left: 50px;
    display: block;
}
.add{
    margin-left: 245px;
}
.form2{
    display: none;
}
#getSubs{
    position: absolute;
    top: 85px;
    left: 60%;
    background: green;
    color: white;
}
#bTn{
    position: absolute;
    top: 25px;
    left: 33%;
    background: black;
    color: white;
}